.switchContainer {
  display: inline-block;
  /*margin-bottom: 2rem;*/

  @media (max-width: 640px) {
    width: 100%;
  }
}

.tabs {
  display: flex;
  position: relative;
  background: #f8fafc;
  border-radius: 40px;
  padding: 6px;
  height: 60px;
  width: max-content;

  @media (max-width: 640px) {
    width: 100%;
  }
}

.tab {
  position: relative;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #64748b;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all .5s ease;
  z-index: 1;
  flex-shrink: 0;

  @media (max-width: 640px) {
    flex: 1;
  }


  &:hover {
    color: #334155;
  }

  &.active {
    background: #663497;
    color: #fff;
    /*font-weight: 600;*/
    border-radius: 40px;
  }
}

.activeIndicator {
  position: absolute;
  top: 4px;
  left: 4px;
  height: calc(100% - 8px);
  background: white;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 0;
}

/* Анимация для индикатора */
.tabs:hover .activeIndicator {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
