.ReadyToExperienceBlock {
  width: 100%;
  height: 100%;
  padding: 128px 100px;
  background: #fff;

  @media (max-width: 1024px) {
    padding: 80px 16px;
  }

  &_container {
    width: 100%;
    min-height: 345px;
    height: 100%;
    display: flex;
    gap: 24px;
    padding: 80px;
    background: #663497;
    border-radius: 32px;
    position: relative;

    @media (max-width: 1235px) {
      flex-direction: column;
      gap: 48px;
    }

    @media (max-width: 1024px) {
      padding: 32px;
    }

    &_left {
      width: calc(50% - 24px);
      height: 100%;

      @media (max-width: 1235px) {
        width: 100%;
      }

      > h1 {
        color: #FFFFFF;
        font-weight: 700;
        font-size: 32px;
        line-height: 128%;
        margin-bottom: 8px;
        white-space: pre-line;

        @media (max-width: 640px) {
          white-space: normal;
          font-size: 24px;
        }
      }

      > p {
        color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        line-height: 136%;
        white-space: pre-line;
        margin-bottom: 32px;
      }

      &_buttons {
        display: flex;
        gap: 16px;

        @media (max-width: 800px) {
          width: 100%;

          button {
            flex: 1;
          }
        }

        @media (max-width: 640px) {
          width: 100%;
          flex-direction: column;
          align-items: flex-start;

          button {
            width: 100%;
          }
        }
      }
    }

    &_right {
      position: absolute;
      bottom: -42px;
      right: 80px;

      @media (max-width: 1235px) {
        position: static;
        width: 40%;
        height: 40%;
        margin: 0 auto;
      }

      @media (max-width: 640px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}
