.WhyWeBuiltInjobnitoBlock {
  background: #FFFFFF;
  padding: 128px 100px;
  display: flex;
  flex-direction: column;
  gap: 64px;

  @media (max-width: 1024px) {
    padding: 80px 16px;
    gap: 32px;
    flex-direction: column;
  }

  &_up {
    display: flex;
    justify-content: space-between;
    gap: 64px;

    @media (max-width: 1024px) {
      gap: 32px;
      flex-direction: column;
    }
  }

  &_leftBlock {
    width: calc(50% - 64px);
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (max-width: 1024px) {
      width: 100%;
    }

    &_texts {
      display: flex;
      flex-direction: column;

      > h1 {
        color: #2B163F;
        font-weight: 700;
        font-size: 48px;
        line-height: 128%;
        margin-bottom: 16px;
        white-space: pre-line;

        @media (max-width: 640px) {
          font-size: 32px;
          white-space: normal;
        }
      }
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 24px;

      > p {
        color: #444444;
        font-weight: 400;
        font-size: 16px;
        line-height: 136%;
        white-space: pre-line;
      }
    }
  }

  &_rightBlock {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0;

    @media (max-width: 1024px) {
      width: 100%;
    }

    .stepImage {
      width: 100%;
      max-width: 600px;
      max-height: 100%;
      object-fit: contain;
      border-radius: 16px;
      border: 1px solid;
      border-image-source: linear-gradient(243.18deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 0 0 64px -12px #8D7EE87A;

      @media (max-width: 1024px) {
        width: 70%;
        margin: 0 auto;
      }

      @media (max-width: 640px) {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &_takeNextStep {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 32px;
    padding: 48px;
    background: #D9E1FF;

    @media (max-width: 800px) {
      padding: 48px 24px;
      flex-direction: column;
      gap: 24px;
    }

    &_texts {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h4 {
        color: #2B163F;
        font-weight: 700;
        font-size: 32px;
        line-height: 128%;
      }

      p {
        color: #2B163F;
        font-weight: 400;
        font-size: 16px;
        line-height: 136%;
      }
    }

    &_buttons {
      display: flex;
      align-items: center;
      gap: 16px;

      @media (max-width: 800px) {
        width: 100%;

        button {
          flex: 1;
        }
      }

      @media (max-width: 640px) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

        button {
          width: 100%;
        }
      }
    }
  }
}


