@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter/Inter18pt-Regular.woff2') format('woff2'),
  url('/public/fonts/Inter/Inter18pt-Regular.woff') format('woff'),
  url('/public/fonts/Inter/Inter18pt-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter/Inter18pt-Bold.woff2') format('woff2'),
  url('/public/fonts/Inter/Inter18pt-Bold.woff') format('woff'),
  url('/public/fonts/Inter/Inter18pt-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box!important;
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif!important;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

html, body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  letter-spacing: 0;
  line-height: initial;
  font-size: 16px; /*TODO NEED TO RESEARCH*/
  text-size-adjust: 100%;
  scroll-behavior: smooth;

  .no-scroll {
    overflow-y: hidden;
  }
}

#root {
  width: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

h1, h2, h3, h4, h5, h6, span, p {
  margin: 0;
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #D9D9D9 !important;
  opacity: 1 !important;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: #2B163F !important;
}

